<!--
/******************************************************
 * @package Pav Verticalmenu module for Opencart 3.0.x
 * @version 3.0
 * @author http://www.pavothemes.com
 * @copyright	Copyright (C) Oct 2017 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
*******************************************************/
-->

{{ header }} {{ column_left }} {% set module_row = 0 %}

<div id="content">
	
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button class="btn btn-primary" title="{{ button_save }}" onclick="$('#form').submit();"><i class="fa fa-save"></i> {{ button_save }}</button>
				<a class="btn btn-info" title="{{ button_save_edit }}" onclick="$('#save_mode').val('save-edit');$('#form').submit();"><i class="fa fa-save"></i> {{ button_save_edit }}</a>
				<a class="btn btn-success" title="{{ button_save_new }}" onclick="$('#save_mode').val('save-new');$('#form').submit();"><i class="fa fa-book"></i> {{ button_save_new }}</a> | 
				<a class="btn btn-danger" title="{{ button_cancel }}" href="{{ cancel }}" ><i class="fa fa-book"></i> {{ button_cancel }}</a> | 
				<a class="btn btn-info" title="Guide" id="btn-guide" href="http://www.pavothemes.com/guides/3/pav_verticalmenu/"><i class="fa fa-book"></i>Guide</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
		    {% for breadcrumb in breadcrumbs %}
		        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		    {% endfor %}
		    </ul>
		</div>
	</div>

	<div id="page-content" class="container-fluid">

		{% if error_warning %}
	    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
	    {% endif %}
	
		<div id="ajaxloading" class="hide">
			<div class="alert alert-warning" role="alert">{{ text_process_request }}</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
			</div>
			<div class="panel-body">
				<ul id="grouptabs" class="nav nav-tabs hidden" role="tablist">
					<li class="active"><a href="#manage-menus" role="tab" data-toggle="tab">{{ tab_manage_verticalmenus }}</a></li>
					<li><a href="#manage-widgets" role="tab" data-toggle="tab">{{ tab_manage_widgets }}</a></li>
				</ul>
				<div class="tab-content">

					<div class="tab-pane hidden" id="manage-widgets">
						<p><i>{{ text_explain_widgets }}</i></p>
						<a class="btn btn-info btn-modal" href="index.php?route=extension/module/pavverticalmenu/addwidget&user_token={{ user_token }}" >{{ text_create_widget }}</a>
						<br/><br/>
						<table class="table">
							<tr>	
								<td>{{ text_widget_name }}</td>
								<td>{{ text_widget_type }}</td>
								<td>{{ text_action }}</td>
							</tr>

							{% if widgets is iterable %}
								{% for widget in widgets %}
								<tr>
									<td>{{ widget.name }}</td>
									<td>{% set type = widget.type %} {{ text_widget_~type }}</td>
									<td><a class="btn-action-widget btn-modal" rel="edit" href="index.php?route=extension/module/pavverticalmenu/addwidget&user_token={{ user_token }}&id={{ widget.id }}&wtype={{ widget.type }}">{{ text_edit }}</a>
									| 
									<a onclick="return confirm('{{ text_confirm_delete }}');"	rel="edit" href="index.php?route=extension/module/pavverticalmenu/delwidget&user_token={{ user_token }}&id={{ widget.id }}&wtype={{ widget.type }}">{{ text_delete }}</a>
									</td>
								</tr>
								{% endfor %}
							{% endif %}
						</table>
					</div><!-- div.panel > manage-widgets -->

					<div class="tab-pane active" id="manage-menus">
						<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
							<div class="buttons clearfix">
								<div class="col-lg-6">
								
									<a class="btn btn-primary" title="{{ button_import_categories }}" onclick="$('#save_mode').val('import-categories');$('#form').submit();">{{ button_import_categories }}</a>
									<a class="btn btn-danger" title="{{ button_delete_categories }}" data-toggle="modal" data-target=".deleteTree-modal-sm">{{ button_delete_categories }}</a>
								</div>	
								<div class="col-lg-6">
									 
									
									<select class="form-control pull-right" name="stores" id="pavstores" style="width: 20%;">
										{% for store in stores %}
										{% if store.store_id == store_id %}
											<option value="{{ store.store_id }}" selected="selected">{{ store.name }}</option>
										{% else %}
											<option value="{{ store.store_id }}">{{ store.name }}</option>
										{% endif %}
										{% endfor %}
									</select>
							 		<span class="pull-right" style="font-weight:bold;"> {{ entry_filter_store }} </span>
								<input type="hidden" value="{{ store_id }}" name="verticalmenu[store_id]"/></br></br>
								</div>

							</div><br/><br/>

							<div class="verticalmenu">
								<div class="tree-verticalmenu">
									<h4>{{ text_treemenu }}</h4>
									<a class="btn btn-success btn-updatetree" name="serialize" id="serialize">{{ button_update_order }}</a>	
									{{ tree }}
									<a class="btn btn-success btn-updatetree" name="serialize" id="serialize">{{ button_update_order }}</a>
									<p class="note"><i>{{ text_explain_drapanddrop }}</i></p>
								</div>

							</div><!-- end div.verticalmenu -->

							<div class="verticalmenu-form">
								<div id="verticalmenu-form">
									{% include 'extension/module/pavverticalmenu/pavverticalmenu_form.twig' %}
								</div>
							</div>
							<!-- end div.verticalmenu-form -->

							<input type="hidden" value="" name="save_mode" id="save_mode"/>
						</form>
					</div><!-- div.panel > manage-menus -->


				</div>
			</div>

		</div><!-- end div.panel panel-default -->
		<div id="info" style="font-size:10px;color:#666"><p>Pav Mega Menu is free to use. it's released under GPL/V2. Powered By <a href="http://www.pavothemes.com">PavoThemes.Com</a></div>

	</div><!-- container-fluid -->
</div>

 	<!-- Modal Form-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      	<div class="modal-content">
		        <div class="modal-header">
		          	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		          	<h4 class="modal-title">{{ text_preview_on_live_site }}</h4>
		        </div>
	        	<div class="modal-body"></div>
		        <div class="modal-footer">
		          	<button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
		        </div>
	      	</div> 
	    </div> 
	</div>

	<!-- Modal confirm dialog -->
	<div id="cmodal" class="modal fade deleteTree-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  	<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		    	<div class="modal-body">
		         	{{ message_delete_category }}
		        </div>
		     	<div class="modal-footer">
		          	<button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
		          	<button type="button" class="btn btn-primary" id="btnDeleteTree">{{ button_save }}</button>
		        </div>
		        <input id="menuid" type="hidden" name="menuid" value="0"/>
		    </div>
	  	</div>
	</div>
  
<script type="text/javascript"><!--
	
	// Drag and Drop menu Item
	$('ol.sortable').nestedSortable({
		forcePlaceholderSize: true,
		handle: 'div',
		helper:	'clone',
		items: 'li',
		opacity: .6,
		placeholder: 'placeholder',
		revert: 250,
		tabSize: 25,
		tolerance: 'pointer',
		toleranceElement: '> div',
		maxLevels: 4,

		isTree: true,
		expandOnHover: 700,
		startCollapsed: true
	});
	
	$('#serialize, .btn-updatetree').click(function(){
			var serialized = $('ol.sortable').nestedSortable('serialize');
			$.ajax({
			async : false,
			type: 'POST',
			dataType:'json',
			url: "{{ updateTree }}",
			data : serialized, 
			success : function (r) { 
		
				if ($('#msg-tree').length > 0 ) { 
					$("#page-content").remove('#msg-tree');
				} else {
					var html = "<div id='msg-tree' class='alert alert-success'><i class='fa fa-check-circle'></i>{{ text_success_update_tree }}<button type='button' class='close' data-dismiss='alert'>×</button></div>";
					$("#ajaxloading").before(html);
					//Scroll up
					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}
			}
		});
	});

	// Mutiple Store
	$('#pavstores').bind('change', function () {
		url = 'index.php?route=extension/module/pavverticalmenu&user_token={{ user_token }}';
		var id = $(this).val();
		if (id) {
			url += '&store_id=' + encodeURIComponent(id);
		}
		window.location = url;
	});

	// Modal delete tree categories
	$('#btnDeleteTree').click(function() {
		var id = $("#menuid").val();
		if(id == 0) {
			$("#save_mode").val('delete-categories');
			$('#form').submit();	
		} else {
			window.location.href="{{ actionDel }}&id="+id;
		}
		
	});

	$(".quickdel").click(function(){
		$('#cmodal .modal-body').html( "{{ message_delete }}" );
		$('#cmodal').modal();
		var id = $(this).attr("rel").replace("id_","");
		$("#menuid").val(id);
		return false;
	});

	// Ajax load
	$(document).ajaxSend(function() {
		$("#ajaxloading").show();
	});
	$(document).ajaxComplete(function() {
		$("#ajaxloading").hide();
	});

	// Cookies tab
	$('#grouptabs a').click( function(){
		$.cookie("megaactived_tab", $(this).attr("href") );
	});

	if($.cookie("megaactived_tab") !="undefined"){
		$('#grouptabs a').each( function(){
			if( $(this).attr("href") ==  $.cookie("megaactived_tab")){
				$(this).click();
				return ;
			}
		});
	}

	// Modal Link guide
	$("#btn-guide").click( function(){
		$('#myModal .modal-dialog').css('width',980);
		var a = $( '<span class="glyphicon glyphicon-refresh"></span><iframe frameborder="0" scrolling="no" src="'+$(this).attr('href')+'" style="width:100%;height:900px; display:none"/>'  );
		$('#myModal .modal-body').html( a );
			
		$('#myModal').modal();
		$('#myModal').attr('rel', $(this).attr('rel') );
		$(a).load( function(){  
			$('#myModal .modal-body .glyphicon-refresh').hide();
	 		$('#myModal .modal-body iframe').show();
		} );
		return false;
	});

	// Modal Create widget
	$(".btn-modal").click( function(){ 
		$('#myModal .modal-dialog').css('width',980);
		var a = $( '<span class="glyphicon glyphicon-refresh"></span><iframe frameborder="0" scrolling="no" src="'+$(this).attr('href')+'" style="width:100%;height:900px; display:none"/>'  );
		$('#myModal .modal-body').html( a );
			
		$('#myModal').modal( );
		$('#myModal').attr('rel', $(this).attr('rel') );
		$(a).load( function(){  
			$('#myModal .modal-body .glyphicon-refresh').hide();
	 		$('#myModal .modal-body iframe').show();
		});

		return false;
	});
	$('#myModal').on('hidden.bs.modal', function () { 
	 	 if( $(this).attr('rel') == 'refresh-page' ){
	 	 	window.parent.location.reload();
	 	 }
	});
//-->
</script>

{{ footer }}
