<select name="{{ item.name }}" id="{{ item.id }}" class="{{ item.class }}"{{ item.multiple ? ' multiple' : '  ' }}>
	<option value="">None</option>
	<option value="100"{{ item.value == '100' ? ' selected' : '' }}>100</option>
	<option value="100i"{{ item.value == '100i' ? ' selected' : '' }}>100 italic</option>
	<option value="200"{{ item.value == '200' ? ' selected' : '' }}>200</option>
	<option value="200i"{{ item.value == '200i' ? ' selected' : '' }}>200 italic</option>
	<option value="300"{{ item.value == '300' ? ' selected' : '' }}>300</option>
	<option value="300i"{{ item.value == '300i' ? ' selected' : '' }}>300 italic</option>
	<option value="400"{{ item.value == '400' ? ' selected' : '' }}>400</option>
	<option value="400i"{{ item.value == '400i' ? ' selected' : '' }}>400 italic</option>
	<option value="500"{{ item.value == '500' ? ' selected' : '' }}>500</option>
	<option value="500i"{{ item.value == '500i' ? ' selected' : '' }}>500 italic</option>
	<option value="600"{{ item.value == '600' ? ' selected' : '' }}>600</option>
	<option value="600i"{{ item.value == '600i' ? ' selected' : '' }}>600 italic</option>
	<option value="700"{{ item.value == '700' ? ' selected' : '' }}>700</option>
	<option value="700i"{{ item.value == '700i' ? ' selected' : '' }}>700 italic</option>
	<option value="800"{{ item.value == '800' ? ' selected' : '' }}>800</option>
	<option value="800i"{{ item.value == '800i' ? ' selected' : '' }}>800 italic</option>
	<option value="900"{{ item.value == '900' ? ' selected' : '' }}>900</option>
	<option value="900i"{{ item.value == '900i' ? ' selected' : '' }}>900 italic</option>
</select>