<div class="btn-group mini-cart btn-block minicart-style-1 pull-right" data-style="style-1" data-head="{{ text_my_cart }}">
    <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse dropdown-toggle">
        <span class="cart-icon">
            <i class="icons8 icons8-shopping-cart"></i>
            <span class="cart-number">{{  text_items  | split(' ', 2 )[0] }}</span>
        </span>
        <span class="cart-inner">
          <span class="cart-head">{{ text_my_cart }}</span>
          <span class="pav-cart-total">{{  text_items  | split('-', 2 )[1] }}</span>
        </span>
    </button>
    <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
        <li>
          <table class="table table-striped">
            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
                {% for option in product.option %} <br />
                - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
                {% endif %}
                {% if product.recurring %} <br />
                - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
              <td class="text-right">x {{ product.quantity }}</td>
              <td class="text-right">{{ product.total }}</td>
              <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td class="text-center"></td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-right">x&nbsp;1</td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
            </tr>
            {% endfor %}
          </table>
        </li>
        <li>
          <div>
            <table class="table table-bordered">
              {% for total in totals %}
              <tr>
                <td class="text-right"><strong>{{ total.title }}</strong></td>
                <td class="text-right">{{ total.text }}</td>
              </tr>
              {% endfor %}
            </table>

            <p class="padding-left-10 padding-right-10">
                <a href="{{ cart }}" class="btn btn-default btn-block"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>
                <a href="{{ checkout }}" class="btn btn-primary btn-block"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a>
            </p>
          </div>
        </li>
        {% else %}
        <li>
          <p class="text-center">{{ text_empty }}</p>
        </li>
        {% endif %}
    </ul>
</div>
