<div id="pav-adv-search" class="quick-search-form pav-adv-search {{ settings.extra_class }}">
	<div class="inputs-groups">

			<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
			<div class="categories-selection">
			<select name="category_id" class="form-control">
		            <option value="0">{{ text_category }}</option>
		            {% for category_1 in settings.categories %}
		            {% if category_1.category_id == category_id %}
		            <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
		            {% else %}
		            <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
		            {% endif %}
		            {% for category_2 in category_1.children %}
		            {% if category_2.category_id == category_id %}
		            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
		            {% else %}
		            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
		            {% endif %}
		            {% for category_3 in category_2.children %}
		            {% if category_3.category_id == category_id %}
		            <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
		            {% else %}
		            <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
		            {% endif %}
		            {% endfor %}
		            {% endfor %}
		            {% endfor %}
         	</select>
         	</div>
			<button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
	</div>
</div>


