{{ header }}
<div id="product-manufacturer" class="container">
  <ul class="breadcrumb">
    <h2>{{ heading_title }}</h2>
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

      {% if products %}
      <div class="products-collection">
      <div class="row">
        <div class="col-md-3 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm btn-split-grid">
            <button type="button" data-grid="1" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" data-grid="2" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th-large"></i></button> 

            <button type="button" data-grid="3" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>

            <button type="button" data-grid="4" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              {% else %}
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              
              {% for limits in limits %}
              {% if limits.value == limit %}
              
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              
              {% else %}
              
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              
              {% endif %}
              {% endfor %}
            
            </select>
          </div>
        </div>
      </div>
      
      {% if product_grid_layout is empty %} {% set product_grid_layout="_product_default" %} {% endif %} 
      {% set grid="product-layout product-grid col-md-3 col-sm-6 col-xs-12" %}
      <div class="row"> {% for product in products %}
        <div class="{{grid}}">
          {% include ( 'pav_lobster/template/product/layout/'~product_grid_layout )~'.twig' %}
        </div>
        {% endfor %} 
      </div>
      <div class="row">
        <div class="paging clearfix">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}