{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ entry_save_and_stay }}</button>
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" onclick="$('form').find('.post_action').val('save_back');" class="btn btn-danger"><i class="fa fa-save"></i> {{ entry_save_and_back }}</button>

        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
         <a class="btn btn-info" title="{{ text_guide }}" id="btn-guide" href="http://www.pavothemes.com/guides/3/pavstorelocator/"><i class="fa fa-book"></i>{{ text_guide }}</a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
     <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
      <input type="hidden" name="post_action" class="post_action">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
       
          
          <div class="tab-pane">
            <div class="alert alert-info">
              <ul>
                <li> {{ link_show_in_page }} <a target="_blank" href="{{ link_products_deal }}">{{ link_products_deal }}</a> | <a href="{{ link_search_product_deal }}" target="_blank">seo link</a></li>

              </ul>  
            </div>  
            <ul class="nav nav-tabs" id="language">
              {% for language in languages %}
              <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for language in languages %}
              <div class="tab-pane" id="language{{ language.language_id }}">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="setting[{{ language.language_id }}][title]" placeholder="{{ entry_title }}" id="input-heading{{ language.language_id }}" value="{{ setting[language.language_id] ? setting[language.language_id].title }}" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                  <div class="col-sm-10">
                    <textarea name="setting[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ setting[language.language_id] ? setting[language.language_id].description }}</textarea>
                  </div>
                </div>


           <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
            <div class="col-sm-10">
              <input type="text" name="seo[{{ language.language_id }}][meta_title]" value="{{ seo[language.language_id] ? seo[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
              {% if error_meta_title[language.language_id] %}
              <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
            <div class="col-sm-10">
              <textarea name="seo[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ seo[language.language_id] ? seo[language.language_id].meta_description }}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
            <div class="col-sm-10">
              <textarea name="seo[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ seo[language.language_id] ? seo[language.language_id].meta_keyword }}</textarea>
            </div>
          </div>

              </div>
              {% endfor %}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-template">{{ entry_template }}</label>
            <div class="col-sm-10">
              <select name="template" id="input-template" class="form-control">
                {% for layout in templates %}
                <option value="{{ layout }}"  {% if layout == template %} selected="selected" {% endif %}>{{ layout }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-google-api-key">{{ entry_google_key_api }}</label>
            <div class="col-sm-10">
              <input name="google_api_key" placeholder="AIzaSyAdcvwmP67cuFWpPRJ2y2dLg4RShDVbiWQ" class="form-control" id="input-google-api-key" value="{{ google_api_key }}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>



            
    
      </div>
    </div>

 Developed by <a target="_blank" href="http://www.pavothemes.com">PavoThemes.Com</a>. Get More Free Extensions From <a target="_blank" href="http://www.pavothemes.com/opencart-modules/opencart-3.html">Site</a>.
    </div>

  </form>

  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
    
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
$('.date').datetimepicker({
  language: 'en-gb',
  pickTime: false
});
//--></script></div>
{{ footer }}
