{{ header }} {{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
		<a href="{{ insert }}" title="{{ button_insert }}" data-toggle="tooltip" class="btn btn-success"><i class="fa fa-plus"></i></a>
        <button type="submit" form="form-module" onclick="$('#form-module').attr('action', '{{ copy }}');" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-info"><i class="fa fa-copy"></i></button>
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
	{% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
		  <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-config" data-toggle="tab">{{ tab_config }}</a></li>
            <li><a href="#tab-list" data-toggle="tab">{{ tab_list }}</a></li>
          </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab-config">
				
				<div class="col-sm-4">
					<div class="panel panel-default panel-floating panel-floating-inline">
					<div class="panel-body">
					  <img class="homepage-grid-icon" src="https://www.smsalert.co.in/logo/www.smsalert.co.in.png">
					  <p class="text-muted">If you need any help setting up your SMS Alert account or have any other questions, we're here to help you.<br /><br />just send an email to <a href="email:support@cozyvision.com">support@cozyvision.com</a> or call us at +91 (0) 80-1055-1055.<br /><br />If you want to know what else we can offer you, please visit our website at <a href="https://www.smsalert.co.in/" target="_blank">www.smsalert.co.in</a></p>
					</div>
					</div>
				</div>
				
				 <div class="col-sm-8">
					<div class="panel panel-default panel-floating panel-floating-inline">
					<div class="panel-body">
					  <div class="form-group">
						<label for="input-auth-key" class="col-sm-2">{{ entry_auth_key }}</label>
						<div class="col-sm-10">
						  <input type="text" name="smsalert_auth_key" value="{{ smsalert_auth_key }}" id="input-auth-key" class="form-control" />
						</div>
					  </div>
					  
					  <div class="form-group">
						<label for="input-auth-secret" class="col-sm-2">{{ entry_auth_secret }}</label>
						<div class="col-sm-10">
						  <input type="text" name="smsalert_auth_secret" value="{{ smsalert_auth_secret }}" id="input-auth-secret" class="form-control" />
						  <input type="hidden" name="module_smsalert_status" value="1" />
						</div>
					  </div>
					  
					  <div class="form-group">
						<label for="input-default" class="col-sm-2">{{ entry_default_senderid }}</label>
						<div class="col-sm-10">
						  <input type="text" maxlength="6" required name="smsalert_default_senderid" value="{{ smsalert_default_senderid }}" id="input-default" class="form-control" />
						</div>
					  </div>
					  
					  <div class="form-group">
						<label for="input-debug" class="col-sm-2">{{ entry_debug }}</label>
						<div class="col-sm-10">
						  <select name="smsalert_debug" id="input-debug" class="form-control">
						  <option value="1"{{ smsalert_debug ? ' selected="selected"' : '' }}>{{ text_enabled }}</option>
						  <option value="0"{{ not smsalert_debug ? ' selected="selected"' : '' }}>{{ text_disabled }}</option>
						  </select>
						</div>
					  </div>
					  
					  <div class="form-group">
						<div class="col-sm-12 text-right">
						  <button type="button" id="button-update" class="btn btn-primary"><i class="fa fa-save"></i></button>
						</div>
					  </div>
					 </div>
				   </div>
				</div>
			</div>
			
			
            <div class="tab-pane table-responsive" id="tab-list">
			  <table class="table table-bordered table-hover">
				<thead>
				<tr>
				  <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
				  <td class="text-left">{% if sort == 'name' %} 
					<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
					{% else %}   
					<a href="{{ sort_name }}">{{ column_name }}</a>
					{% endif %}</td>
				  <td class="text-left">{% if sort == 'type' %} 
					<a href="{{ sort_type }}" class="{{ order|lower }}">{{ column_type }}</a>
					{% else %}   
					<a href="{{ sort_type }}">{{ column_type }}</a>
					{% endif %}</td>
				  <td class="text-left">{{ column_store }}</td>
				  <td class="text-right">{{ column_action }}</td>
				</tr>
				</thead>
				<tbody>
				{% if templates %} 
				  {% for template in templates %} 
					<tr>
					  <td style="text-align: center;">{% if template.selected %} 
						<input type="checkbox" name="selected[]" value="{{ template.sms_template_id }}" checked="checked" />
						{% else %}   
						<input type="checkbox" name="selected[]" value="{{ template.sms_template_id }}" />
						{% endif %}</td>
					  <td class="text-left">{{ template.name }}</td>
					  <td class="text-left">{{ template.type }}</td>
					  <td class="text-left">{{ template.store }}</td>
					  <td class="text-right">{% for action in template.action %} 
						[ <a href="{{ action.link }}">{{ action.name }}</a> ]<br />
						{% endfor %} 
					</tr>
				  {% endfor %}
				{% else %}   
				  <tr>
					<td class="text-center" colspan="5">{{ text_no_results }}</td>
				  </tr>
				{% endif %}
				</tbody>
				</table>
			</div>
		  </div>
		</form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#button-update').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/module/smsalert/config&user_token={{ user_token }}',
		type: 'post',
		data: $('#tab-config input, #tab-config select'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-update').after('<i class="fa fa-spinner fa-spin"></i>');
		},
		success: function(json) {
			$('.fa-spinner').remove();
			
			$('#tab-config input').css('border', '1px solid #00ff00');
			$('#tab-config select').css('border', '1px solid #00ff00');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
	
	return false;
});
</script>
{{ footer }}