<div class="image-item effect-v10 {{settings.layout}}">
	<a href="{{ settings.link }}" class="pa-element pa_single_image {{ settings.class ? [ ' ', settings.class ] | join() : '' }}">
		<img class="img-responsive" src="{{ settings.src }}" alt="{{ settings.alt }}" />
	</a>
</div>
